<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/base.css">
</head>
<body>
<div class="base">
    <div class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/product">Product</a>
            <a href="/contact">Contact</a>
            <a href="/contribute">Contribute</a>
    </div>
    <div class="xcontainer">
<link rel="stylesheet" href="static/css/style.css">
<div class="content">
    <h1 style="font-weight: 800; font-size: larger; padding: 5px;">Wellcome On RedPie</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa nisi libero deleniti quaerat, itaque mollitia velit error eveniet provident vel, amet nulla enim. Ullam assumenda consequatur sunt provident. Esse, ex?
    </p>
</div>
    </div>
</div>
</body>
</html>