{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% block content %}
<link rel="stylesheet" href="static/css/style.css">
<div class="content">
    <h1 style="font-weight: 800; font-size: larger; padding: 5px;">About Us</h1>
    <p>
        Welcome to RedPie! We are passionate about delivering the best products and services to our customers. Our journey began with a simple mission: to make quality accessible to everyone.
    </p>
    <p>
        Our team is dedicated to innovation and excellence, ensuring that every product reflects our commitment to quality and sustainability. We believe in creating a positive impact on our community and the environment.
    </p>
</div>
{% endblock %}