{% extends 'base.html' %}
{% block title %} Our Products {% endblock %}
{% block content %}
<link rel="stylesheet" href="static/css/style.css">
<div class="content" style="max-width: 800px;">
    <h1 style="font-weight: 800; font-size: larger; padding: 5px;">Our Products</h1>
    <p>
        At RedPie, we offer a diverse range of products tailored to meet your needs. Whether you're looking for cutting-edge technology or everyday essentials, we have something for everyone.
    </p>
    <p>
        Our products are carefully curated, ensuring that each item meets our high standards of quality and performance. Explore our collection and find the perfect solution for your lifestyle.
    </p>
    <br>
    <ul style="display: flex; flex-direction: column; gap: 10px; justify-content: center; align-items: center;">
        <li><strong style="font-weight: 700; color: #000;background-color: beige;">RedPie:</strong> Red Team Pentesting Toolkit RedPie is a comprehensive toolkit designed for Red Team professionals and penetration testers !.</li>
        <li><strong style="font-weight: 700; color: #000;background-color: beige;">WebSnap:</strong> This tool allows you to take screenshots of webpages from the terminal.</li>
        <li><strong style="font-weight: 700; color: #000;background-color: beige;">html2markdown:</strong> The HTML to Markdown Converter tool (Html2Markdown.py) is designed to streamline the conversion of HTML content into Markdown format, saving you time and effort</li>
        <li><strong style="font-weight: 700; color: #000;background-color: beige;">portscan:</strong>Scan open ports on a target hosts </li>
        <li><strong style="font-weight: 700; color: #000;background-color: beige;">webfuzz:</strong>Fuzz for hidden web app directories </li>
        <li><strong style="font-weight: 700; color: #000;background-color: beige;">crack:</strong> Password hash cracking tool</li>
        <li><strong style="font-weight: 700; color: #000;background-color: beige;">serverftp:</strong>FTP server tool </li>
        <li><strong style="font-weight: 700; color: #000;background-color: beige;">clientftp:</strong>FTP client tool </li>
    </ul>
</div>
{% endblock %}